*{
    padding:0%;
    margin:0%;
}
nav{
    background-color: black;
    border-color:whitesmoke;
    border-width:3px;
    border-style: solid;

}
li{

    color:white;
    margin:7px;
    padding:10px;
    cursor: pointer;
    list-style-type:none;
}
li:hover{
    color:yellow;

}


ul{
    display:flex;
    
}
#head{
    display:block;
    background-color:brown;
     border-color:black;
    border-width:3px;
    border-style: solid;

}
#head .hj{
    color:white;
    display: block;
}
#head .gh{
    color:pink;
    display: block;
}
.grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color: black;
    border-color:red;
    border-width: 4px;
    border-style: solid;
    margin: 5px;
}
.grid img{
    padding: 10px;
    margin: 10px;
    position: relative;
    right: -50px;
     border-color:yellow;
    border-width: 4px;
    border-style: solid;
}
@media screen and (max-width:414px){
    nav{
        width:100%;
    }
    li{
        margin-right:1px;
        padding-right:1px;
        font-size: 13px;
    }
    ul{
        display: flex;
    }
    #head{
        width:100%;
    }
    #head .gh{
        font-size: 27px;
        position: relative;
        left:-10px;
    }
    .grid{
        display:grid;
        grid-template-columns:4fr 4fr 4fr;
        background-color: black;
        border-color:red;
        border-width: 4px;
        border-style: solid;
        margin: 1px;
        padding-top:10px;
        height:700px;
        width:100%;
    }
    .grid img{
        padding: 1px;
        margin-bottom: 50px;
        display: flex;
        position: relative;
        right: -1px;
         border-color:yellow;
        border-width: 4px;
        border-style: solid;
        width:100px;
        height:80px;
    }
}